body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 10px;
    width: 320px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    box-sizing: border-box;
}

h3 {
    margin: 0;
    font-size: 1.5em;
    color: #5c9fe7;
}

#status {
    margin: 15px 0;
    font-size: 1em;
}

#status-text {
    font-weight: bold;
    color: #ff5722;
}

#gesture-text {
    margin: 15px 0;
    font-size: 1em;
    font-weight: bold;
    color: #5ad8e1;
}

#toggle-button {
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toggle-button:hover {
    background-color: #0056b3;
}

#toggle-button:active {
    background-color: #003f7f;
}

#video-container {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: relative;
}

#video-container video {
    width: 100%;
    height: auto;
    max-height: 100%;
    border: none;
    border-radius: 5px;
}

#video-container::before {
    content: "Carregando vídeo...";
    position: absolute;
    color: #fff;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: opacity 0.3s;
    opacity: 1;
}

#video-container video:playing + ::before {
    opacity: 0;
    visibility: hidden;
}
